In [1]:
import pandas as pd
import numpy as np
from IPython.core.display import display, HTML

df = pd.read_csv("nyc-rolling-sales.csv")

In [3]:
'Comment here, about the initial look (should view the df here)'

'Comment here, about the initial look (should view the df here)'

In [2]:
drop_cols = ['Unnamed: 0', 'TAX CLASS AT PRESENT',
'BLOCK',
'LOT',
'EASE-MENT',
'RESIDENTIAL UNITS',
'COMMERCIAL UNITS',
'GROSS SQUARE FEET',
'SALE DATE',
'APARTMENT NUMBER',
"BUILDING CLASS AT TIME OF SALE", 
"TAX CLASS AT TIME OF SALE"]
df.drop(drop_cols, inplace = True, axis =1)

In [3]:
df = df.replace('-', 'NaN')
df = df.dropna()

In [4]:
df.reset_index(inplace= True)
df.drop('index', inplace = True, axis = 1)

In [5]:
pd.options.mode.chained_assignment = None
df['BOROUGH'] = df['BOROUGH'].astype(int)
df['ZIP CODE'] = df['ZIP CODE'].astype(int)
df['TOTAL UNITS'] = df['TOTAL UNITS'].astype(int)
df['YEAR BUILT'] = df['YEAR BUILT'].astype(int)

In [6]:
df = df[~df['LAND SQUARE FEET'].str.contains("-")]
df = df[~df['SALE PRICE'].str.contains("-")]

In [7]:
df['SALE PRICE'] = pd.to_numeric(df['SALE PRICE'], errors = 'coerce')
df['LAND SQUARE FEET'] = pd.to_numeric(df['LAND SQUARE FEET'], errors = 'coerce')

In [24]:
'Comment about rounding everything up to integers'

In [8]:
df['AVG PRICE PER UNIT'] = df['SALE PRICE'].divide(df['TOTAL UNITS'])

In [10]:
df.head()

,BOROUGH,NEIGHBORHOOD,BUILDING CLASS CATEGORY,BUILDING CLASS AT PRESENT,ADDRESS,ZIP CODE,TOTAL UNITS,LAND SQUARE FEET,YEAR BUILT,SALE PRICE,AVG PRICE PER UNIT
0,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,C2,153 AVENUE B,10009,5,1633,1900,6625000,1.325000e+06
3,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,C4,154 EAST 7TH STREET,10009,10,2272,1913,3936272,3.936272e+05
4,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,C2,301 EAST 10TH STREET,10009,6,2369,1900,8000000,1.333333e+06
6,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,C4,210 AVENUE B,10009,8,1750,1920,3192840,3.991050e+05
9,1,ALPHABET CITY,08 RENTALS - ELEVATOR APARTMENTS,D9,629 EAST 5TH STREET,10009,24,4489,1920,16232000,6.763333e+05

In [9]:
'''Eliminating the types of building that were not apartment like.
For the ones which class was somewhat similar to an apartment style, I calculated
how many of them there were in the dataset.
'''
len(df[df['BUILDING CLASS AT PRESENT'].str.contains('A0')])

309

In [10]:
df = df[~df['BUILDING CLASS AT PRESENT'].str.contains("A3")]
df = df[~df['BUILDING CLASS AT PRESENT'].str.contains("A6")]
df = df[~df['BUILDING CLASS AT PRESENT'].str.contains("A7")]
df = df[~df['BUILDING CLASS AT PRESENT'].str.contains("A8")]
df = df[~df['BUILDING CLASS AT PRESENT'].str.contains("CM")]
df = df[~df['BUILDING CLASS AT PRESENT'].str.contains("E")]
df = df[~df['BUILDING CLASS AT PRESENT'].str.contains("F")]
df = df[~df['BUILDING CLASS AT PRESENT'].str.contains("G")]
df = df[~df['BUILDING CLASS AT PRESENT'].str.contains("H")]
df = df[~df['BUILDING CLASS AT PRESENT'].str.contains("I")]
df = df[~df['BUILDING CLASS AT PRESENT'].str.contains("J")]
df = df[~df['BUILDING CLASS AT PRESENT'].str.contains("K")]
df = df[~df['BUILDING CLASS AT PRESENT'].str.contains("M")]
df = df[~df['BUILDING CLASS AT PRESENT'].str.contains("N")]
df = df[~df['BUILDING CLASS AT PRESENT'].str.contains("O")]
df = df[~df['BUILDING CLASS AT PRESENT'].str.contains("P")]
df = df[~df['BUILDING CLASS AT PRESENT'].str.contains("Q")]
df = df[~df['BUILDING CLASS AT PRESENT'].str.contains("R")]
df = df[~df['BUILDING CLASS AT PRESENT'].str.contains("T")]
df = df[~df['BUILDING CLASS AT PRESENT'].str.contains("U")]
df = df[~df['BUILDING CLASS AT PRESENT'].str.contains("V")]
df = df[~df['BUILDING CLASS AT PRESENT'].str.contains("W")]
df = df[~df['BUILDING CLASS AT PRESENT'].str.contains("Y")]
df = df[~df['BUILDING CLASS AT PRESENT'].str.contains("Z")]

In [11]:
df = df[df['BOROUGH'] == 1]

In [12]:
df.describe()

,BOROUGH,ZIP CODE,TOTAL UNITS,LAND SQUARE FEET,YEAR BUILT,SALE PRICE,AVG PRICE PER UNIT
count,748.0,748.000000,748.000000,748.000000,748.000000,7.480000e+02,7.480000e+02
mean,1.0,10031.299465,25.100267,5210.787433,1913.775401,1.022491e+07,1.674667e+06
std,0.0,41.817493,73.709254,15197.371169,20.599264,2.799013e+07,3.489273e+06
min,1.0,10001.000000,1.000000,384.000000,1800.000000,1.000000e+00,1.785714e-02
25%,1.0,10016.000000,3.000000,1702.250000,1900.000000,2.347994e+06,2.750000e+05
50%,1.0,10027.000000,9.000000,2148.000000,1910.000000,5.830734e+06,5.666667e+05
75%,1.0,10031.000000,20.000000,3750.000000,1920.000000,1.050000e+07,1.381250e+06
max,1.0,10463.000000,902.000000,189025.000000,2016.000000,6.200000e+08,4.100000e+07

In [100]:
'''Then I got a summary of the data in order to check whether I have missed something. 
For example, it turned out that the minimal price in the datasheet was 0. 

''''''

SyntaxError: invalid syntax (<ipython-input-100-2e8a82926ae4>, line 1)

In [17]:
'''I then proceeded to eliminate the entries which significantly stood out from the rest
of the dataset. I decided to calculate what is the percentage of such entries in order
to verify how big of a difference do they make.
'''

'I then proceeded to eliminate the entries which significantly stood out from the rest\nof the dataset. I decided to calculate what is the percentage of such entries in order\nto verify how big of a difference do they make.\n'

In [56]:
(len(df.loc[df['SALE PRICE'] < 10000000]))

544

In [55]:
(len(df))

748

In [61]:
float(len(df.loc[df['SALE PRICE'] < 1000]) / float(len (df)))

0.04144385026737968

In [68]:
float(len(df.loc[df['SALE PRICE'] < 10000000]) / float(len (df)))

0.7272727272727273

In [ ]:
'Insert a graph here'

In [70]:
df['EST RENT PRICE'] = df['AVG PRICE PER UNIT'].multiply(0.004)

In [100]:
df

,BOROUGH,NEIGHBORHOOD,BUILDING CLASS CATEGORY,BUILDING CLASS AT PRESENT,ADDRESS,ZIP CODE,TOTAL UNITS,LAND SQUARE FEET,YEAR BUILT,SALE PRICE,AVG PRICE PER UNIT,EST RENT PRICE
0,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,C2,153 AVENUE B,10009,5,1633,1900,6625000,1.325000e+06,5300.000000
3,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,C4,154 EAST 7TH STREET,10009,10,2272,1913,3936272,3.936272e+05,1574.508800
4,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,C2,301 EAST 10TH STREET,10009,6,2369,1900,8000000,1.333333e+06,5333.333333
6,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,C4,210 AVENUE B,10009,8,1750,1920,3192840,3.991050e+05,1596.420000
9,1,ALPHABET CITY,08 RENTALS - ELEVATOR APARTMENTS,D9,629 EAST 5TH STREET,10009,24,4489,1920,16232000,6.763333e+05,2705.333333
11,1,ALPHABET CITY,08 RENTALS - ELEVATOR APARTMENTS,D1,530-532 EAST 5TH STREET,10009,10,3717,2009,10350000,1.035000e+06,4140.000000
12,1,ALPHABET CITY,09 COOPS - WALKUP APARTMENTS,C6,244 EAST 7TH STREET,10009,24,4131,1928,11900000,4.958333e+05,1983.333333
113,1,ALPHABET CITY,14 RENTALS - 4-10 UNIT,S3,624 EAST 9TH STREET,10009,4,1520,1910,3300000,8.250000e+05,3300.000000
114,1,ALPHABET CITY,14 RENTALS - 4-10 UNIT,S4,165 AVENUE B,10009,5,2201,1900,7215000,1.443000e+06,5772.000000
115,1,ALPHABET CITY,14 RENTALS - 4-10 UNIT,S5,183 AVENUE B,10009,6,1779,1910,4750000,7.916667e+05,3166.666667
141,1,CHELSEA,01 ONE FAMILY DWELLINGS,A9,224 WEST 22ND STREET,10011,1,1975,1901,7425000,7.425000e+06,29700.000000
142,1,CHELSEA,01 ONE FAMILY DWELLINGS,A4,231 WEST 22ND STREET,10011,1,1588,1900,10,1.000000e+01,0.040000
143,1,CHELSEA,01 ONE FAMILY DWELLINGS,A4,231 WEST 22ND STREET,10011,1,1588,1900,10,1.000000e+01,0.040000
144,1,CHELSEA,01 ONE FAMILY DWELLINGS,A4,231 WEST 22ND STREET,10011,1,1588,1900,10,1.000000e+01,0.040000
147,1,CHELSEA,02 TWO FAMILY DWELLINGS,S2,218 WEST 20TH STREET,10011,3,2150,1920,7750000,2.583333e+06,10333.333333
149,1,CHELSEA,03 THREE FAMILY DWELLINGS,C0,444 WEST 22ND STREET,10011,3,2469,1901,8300000,2.766667e+06,11066.666667
151,1,CHELSEA,07 RENTALS - WALKUP APARTMENTS,C4,253 10TH AVENUE,10001,7,1463,1901,16000000,2.285714e+06,9142.857143
153,1,CHELSEA,07 RENTALS - WALKUP APARTMENTS,C3,459 WEST 24TH STREET,10011,4,2057,1910,5950000,1.487500e+06,5950.000000
154,1,CHELSEA,07 RENTALS - WALKUP APARTMENTS,C5,318 WEST 20TH STREET,10011,24,2307,1900,7375000,3.072917e+05,1229.166667
155,1,CHELSEA,07 RENTALS - WALKUP APARTMENTS,C3,348 WEST 22ND STREET,10011,4,2057,1900,8000000,2.000000e+06,8000.000000
156,1,CHELSEA,07 RENTALS - WALKUP APARTMENTS,C4,256 WEST 15TH STREET,10011,24,2581,1901,14100000,5.875000e+05,2350.000000
157,1,CHELSEA,07 RENTALS - WALKUP APARTMENTS,C4,219 WEST 15TH STREET,10011,9,1566,1901,1583840,1.759822e+05,703.928889
158,1,CHELSEA,07 RENTALS - WALKUP APARTMENTS,C4,219 WEST 15TH STREET,10011,9,1566,1901,416790,4.631000e+04,185.240000
159,1,CHELSEA,07 RENTALS - WALKUP APARTMENTS,C4,219 WEST 15TH STREET,10011,9,1566,1901,630370,7.004111e+04,280.164444
162,1,CHELSEA,07 RENTALS - WALKUP APARTMENTS,C1,222 WEST 21ST STREET,10011,9,2029,1920,29400000,3.266667e+06,13066.666667
165,1,CHELSEA,07 RENTALS - WALKUP APARTMENTS,C7,149 WEST 14TH STREET,10011,9,2581,1920,6450000,7.166667e+05,2866.666667
166,1,CHELSEA,07 RENTALS - WALKUP APARTMENTS,C7,147 WEST 14TH STREET,10011,16,2077,1901,5500000,3.437500e+05,1375.000000
167,1,CHELSEA,07 RENTALS - WALKUP APARTMENTS,C7,145 WEST 14TH STREET,10011,9,1952,1920,5750000,6.388889e+05,2555.555556
168,1,CHELSEA,07 RENTALS - WALKUP APARTMENTS,C1,148 WEST 15TH STREET,10011,8,2000,1910,3485000,4.356250e+05,1742.500000
169,1,CHELSEA,08 RENTALS - ELEVATOR APARTMENTS,D6,559 WEST 23RD STREET,10011,7,2469,2014,4600000,6.571429e+05,2628.571429
...,...,...,...,...,...,...,...,...,...,...,...,...
10542,1,WASHINGTON HEIGHTS LOWER,08 RENTALS - ELEVATOR APARTMENTS,D5,80 FORT WASHINGTON AVEN,10032,75,14400,1920,23009004,3.067867e+05,1227.146880
10543,1,WASHINGTON HEIGHTS LOWER,08 RENTALS - ELEVATOR APARTMENTS,D7,66-72 FORT WASHINGTON AVEN,10032,46,15504,1920,18000000,3.913043e+05,1565.217391
10544,1,WASHINGTON HEIGHTS LOWER,08 RENTALS - ELEVATOR APARTMENTS,D1,86 FORT WASHINGTON AVEN,10032,65,16650,1930,16310588,2.509321e+05,1003.728492
10545,1,WASHINGTON HEIGHTS LOWER,08 RENTALS - ELEVATOR APARTMENTS,D1,200 HAVEN AVENUE,10033,95,26075,1941,41000000,4.315789e+05,1726.315789
10547,1,WASHINGTON HEIGHTS LOWER,08 RENTALS - ELEVATOR APARTMENTS,D1,217-221 HAVEN AVENUE,10033,49,13350,1920,36161535,7.379905e+05,2951.962041
10550,1,WASHINGTON HEIGHTS LOWER,09 COOPS - WALKUP APARTMENTS,C6,544 WEST 156TH STREET,10032,10,2498,1910,90000,9.000000e+03,36.000000
10575,1,WASHINGTON HEIGHTS LOWER,14 RENTALS - 4-10 UNIT,S5,914 ST NICHOLAS AVENUE,10032,6,1088,1900,1515000,2.525000e+05,1010.000000
10576,1,WASHINGTON HEIGHTS LOWER,14 RENTALS - 4-10 UNIT,S3,950 ST NICHOLAS AVENUE,10032,4,920,1899,1130000,2.825000e+05,1130.000000
10582,1,WASHINGTON HEIGHTS UPPER,02 TWO FAMILY DWELLINGS,B3,515 WEST 179 STREET,10033,2,1600,1901,940000,4.700000e+05,1880.000000
10583,1,WASHINGTON HEIGHTS UPPER,02 TWO FAMILY DWELLINGS,B9,432 AUDUBON AVENUE,10033,2,1667,1899,911460,4.557300e+05,1822.920000
10584,1,WASHINGTON HEIGHTS UPPER,07 RENTALS - WALKUP APARTMENTS,C1,512 WEST 180TH STREET,10033,20,5000,1909,5075000,2.537500e+05,1015.000000
10586,1,WASHINGTON HEIGHTS UPPER,07 RENTALS - WALKUP APARTMENTS,C1,508 WEST 180TH STREET,10033,20,5000,1909,4500000,2.250000e+05,900.000000
10587,1,WASHINGTON HEIGHTS UPPER,07 RENTALS - WALKUP APARTMENTS,C1,517 WEST 180 STREET,10033,25,5000,1917,7900000,3.160000e+05,1264.000000
10588,1,WASHINGTON HEIGHTS UPPER,07 RENTALS - WALKUP APARTMENTS,C1,570 WEST 182 STREET,10033,25,5250,1909,7900000,3.160000e+05,1264.000000
10590,1,WASHINGTON HEIGHTS UPPER,07 RENTALS - WALKUP APARTMENTS,C1,558 WEST 184 STREET,10033,12,2809,1905,12350000,1.029167e+06,4116.666667
10591,1,WASHINGTON HEIGHTS UPPER,07 RENTALS - WALKUP APARTMENTS,C3,555 WEST 183 STREET,10033,4,1199,1910,1280000,3.200000e+05,1280.000000
10593,1,WASHINGTON HEIGHTS UPPER,07 RENTALS - WALKUP APARTMENTS,C1,569 WEST 192 STREET,10040,29,7500,1924,4400000,1.517241e+05,606.896552
10594,1,WASHINGTON HEIGHTS UPPER,07 RENTALS - WALKUP APARTMENTS,C1,568 WEST 192 STREET,10040,30,7500,1926,7100000,2.366667e+05,946.666667
10596,1,WASHINGTON HEIGHTS UPPER,07 RENTALS - WALKUP APARTMENTS,C7,601 WEST 181ST STREET,10033,14,5000,1920,12225000,8.732143e+05,3492.857143
10597,1,WASHINGTON HEIGHTS UPPER,07 RENTALS - WALKUP APARTMENTS,C7,602 WEST 184TH STREET,10033,20,4992,1910,6550000,3.275000e+05,1310.000000
10598,1,WASHINGTON HEIGHTS UPPER,07 RENTALS - WALKUP APARTMENTS,C1,65-67 NAGLE AVENUE,10040,25,6400,1914,6975000,2.790000e+05,1116.000000
10600,1,WASHINGTON HEIGHTS UPPER,07 RENTALS - WALKUP APARTMENTS,C1,69 PINEHURST AVENUE,10033,30,7625,1924,7500000,2.500000e+05,1000.000000
10601,1,WASHINGTON HEIGHTS UPPER,07 RENTALS - WALKUP APARTMENTS,C1,1326-1338 RIVERSIDE DRIVE,10033,63,17050,1924,16185560,2.569137e+05,1027.654603
10602,1,WASHINGTON HEIGHTS UPPER,08 RENTALS - ELEVATOR APARTMENTS,D7,440 AUDUBON AVENUE,10040,71,14231,1911,20800000,2.929577e+05,1171.830986
10604,1,WASHINGTON HEIGHTS UPPER,08 RENTALS - ELEVATOR APARTMENTS,D1,558 WEST 193 STREET,10040,31,5000,1929,7750000,2.500000e+05,1000.000000
10605,1,WASHINGTON HEIGHTS UPPER,08 RENTALS - ELEVATOR APARTMENTS,D7,130 WADSWORTH AVENUE,10033,31,7500,1909,11925000,3.846774e+05,1538.709677
10606,1,WASHINGTON HEIGHTS UPPER,08 RENTALS - ELEVATOR APARTMENTS,D7,720 WEST 181ST STREET,10033,57,12400,1910,32000000,5.614035e+05,2245.614035
10607,1,WASHINGTON HEIGHTS UPPER,08 RENTALS - ELEVATOR APARTMENTS,D7,385 FT WASHINGTON AVENUE,10033,67,12750,1950,40100000,5.985075e+05,2394.029851
10609,1,WASHINGTON HEIGHTS UPPER,08 RENTALS - ELEVATOR APARTMENTS,D7,4441 BROADWAY,10040,27,5000,1930,5650000,2.092593e+05,837.037037
10651,1,WASHINGTON HEIGHTS UPPER,14 RENTALS - 4-10 UNIT,S5,603 WEST 185TH STREET,10033,6,1450,1911,2000000,3.333333e+05,1333.333333

In [ ]:
'''
Based on the estimations which can be found in the Apartment Price Differences file, which included
comparing the calculated rent price with an average rent price on the streeteasy.com website, the final average
price has been estimated to be .6% of the the sale price.

ALSO need to estimate the minimal price
and eliminate the too cheap ones
'''

In [125]:
df.loc[df['EST RENT PRICE'].between(600, 700, inclusive = True)]

,BOROUGH,NEIGHBORHOOD,BUILDING CLASS CATEGORY,BUILDING CLASS AT PRESENT,ADDRESS,ZIP CODE,TOTAL UNITS,LAND SQUARE FEET,YEAR BUILT,SALE PRICE,AVG PRICE PER UNIT,EST RENT PRICE
2795,1,GREENWICH VILLAGE-WEST,08 RENTALS - ELEVATOR APARTMENTS,D6,80 GROVE STREET,10014,76,3427,1929,12576515,165480.460526,661.921842
3185,1,HARLEM-CENTRAL,07 RENTALS - WALKUP APARTMENTS,C5,17 WEST 127TH STREET,10027,5,1799,1909,842500,168500.000000,674.000000
3208,1,HARLEM-CENTRAL,07 RENTALS - WALKUP APARTMENTS,C5,226 WEST 112 STREET,10026,8,1716,1890,1300000,162500.000000,650.000000
3253,1,HARLEM-CENTRAL,07 RENTALS - WALKUP APARTMENTS,C5,311 WEST 126 STREET,10027,10,1700,1910,1655000,165500.000000,662.000000
4182,1,HARLEM-UPPER,07 RENTALS - WALKUP APARTMENTS,C5,629 WEST 142 STREET,10031,8,1500,1926,1200000,150000.000000,600.000000
4245,1,INWOOD,07 RENTALS - WALKUP APARTMENTS,C7,151 WEST 228TH STREET,10463,20,3475,1915,3470000,173500.000000,694.000000
4262,1,INWOOD,07 RENTALS - WALKUP APARTMENTS,C4,125 VERMILYEA AVENUE,10034,17,3750,1910,2850000,167647.058824,670.588235
5145,1,MIDTOWN EAST,07 RENTALS - WALKUP APARTMENTS,C7,1057 1 AVENUE,10022,18,1856,1930,2950000,163888.888889,655.555556
9129,1,UPPER EAST SIDE (96-110),08 RENTALS - ELEVATOR APARTMENTS,D5,8-18 EAST 110 STREET,10029,60,14886,1910,10140400,169006.666667,676.026667
10593,1,WASHINGTON HEIGHTS UPPER,07 RENTALS - WALKUP APARTMENTS,C1,569 WEST 192 STREET,10040,29,7500,1924,4400000,151724.137931,606.896552

In [ ]:
'''
estimate the average rent (~0.4%) 
and make a separate cell. 
eliminate boroughs different from manhattan?
maybe add more data to the apd.xls file 
Start training :)

Might need to figure out a better estimate bc sometimes under, sometimes overpriced

change everything to have inplace?
eliminate the one's for a dollar or so!

maybe do sth like ranking these apts low to high price, and the on the map 
use that (as probabiltity? or sth like that)

https://streeteasy.com/building/105-marble-hill-avenue-bronx#tab_building_detail=3
'''

    ##### df.loc[df['AVG PRICE PER UNIT'] > 1000000]