In [1]:
import pandas as pd
import numpy as np
from IPython.core.display import display, HTML

df = pd.read_csv("nyc-rolling-sales.csv")

In [2]:
'Comment here, about the initial look (should view the df here)'

'Comment here, about the initial look (should view the df here)'

In [3]:
drop_cols = ['Unnamed: 0', 'TAX CLASS AT PRESENT',
'BLOCK',
'LOT',
'EASE-MENT',
'RESIDENTIAL UNITS',
'COMMERCIAL UNITS',
'GROSS SQUARE FEET',
'SALE DATE',
'APARTMENT NUMBER',
"BUILDING CLASS AT TIME OF SALE", 
"TAX CLASS AT TIME OF SALE"]
df.drop(drop_cols, inplace = True, axis =1)

In [4]:
df = df.replace('-', 'NaN')
df = df.dropna()

In [5]:
df.reset_index(inplace= True)
df.drop('index', inplace = True, axis = 1)

In [6]:
pd.options.mode.chained_assignment = None
df['BOROUGH'] = df['BOROUGH'].astype(int)
df['ZIP CODE'] = df['ZIP CODE'].astype(int)
df['TOTAL UNITS'] = df['TOTAL UNITS'].astype(int)
df['YEAR BUILT'] = df['YEAR BUILT'].astype(int)

In [7]:
df = df[~df['LAND SQUARE FEET'].str.contains("-")]
df = df[~df['SALE PRICE'].str.contains("-")]

In [8]:
df['SALE PRICE'] = pd.to_numeric(df['SALE PRICE'], errors = 'coerce')
df['LAND SQUARE FEET'] = pd.to_numeric(df['LAND SQUARE FEET'], errors = 'coerce')

In [24]:
'Comment about rounding everything up to integers'

In [9]:
df['AVG PRICE PER UNIT'] = df['SALE PRICE'].divide(df['TOTAL UNITS'])

In [10]:
df.head()

,BOROUGH,NEIGHBORHOOD,BUILDING CLASS CATEGORY,BUILDING CLASS AT PRESENT,ADDRESS,ZIP CODE,TOTAL UNITS,LAND SQUARE FEET,YEAR BUILT,SALE PRICE,AVG PRICE PER UNIT
0,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,C2,153 AVENUE B,10009,5,1633,1900,6625000,1.325000e+06
3,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,C4,154 EAST 7TH STREET,10009,10,2272,1913,3936272,3.936272e+05
4,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,C2,301 EAST 10TH STREET,10009,6,2369,1900,8000000,1.333333e+06
6,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,C4,210 AVENUE B,10009,8,1750,1920,3192840,3.991050e+05
9,1,ALPHABET CITY,08 RENTALS - ELEVATOR APARTMENTS,D9,629 EAST 5TH STREET,10009,24,4489,1920,16232000,6.763333e+05

In [11]:
'''Eliminating the types of building that were not apartment like.
For the ones which class was somewhat similar to an apartment style, I calculated
how many of them there were in the dataset.
'''
len(df[df['BUILDING CLASS AT PRESENT'].str.contains('A0')])

309

In [12]:
df = df[~df['BUILDING CLASS AT PRESENT'].str.contains("A3")]
df = df[~df['BUILDING CLASS AT PRESENT'].str.contains("A6")]
df = df[~df['BUILDING CLASS AT PRESENT'].str.contains("A7")]
df = df[~df['BUILDING CLASS AT PRESENT'].str.contains("A8")]
df = df[~df['BUILDING CLASS AT PRESENT'].str.contains("CM")]
df = df[~df['BUILDING CLASS AT PRESENT'].str.contains("E")]
df = df[~df['BUILDING CLASS AT PRESENT'].str.contains("F")]
df = df[~df['BUILDING CLASS AT PRESENT'].str.contains("G")]
df = df[~df['BUILDING CLASS AT PRESENT'].str.contains("H")]
df = df[~df['BUILDING CLASS AT PRESENT'].str.contains("I")]
df = df[~df['BUILDING CLASS AT PRESENT'].str.contains("J")]
df = df[~df['BUILDING CLASS AT PRESENT'].str.contains("K")]
df = df[~df['BUILDING CLASS AT PRESENT'].str.contains("M")]
df = df[~df['BUILDING CLASS AT PRESENT'].str.contains("N")]
df = df[~df['BUILDING CLASS AT PRESENT'].str.contains("O")]
df = df[~df['BUILDING CLASS AT PRESENT'].str.contains("P")]
df = df[~df['BUILDING CLASS AT PRESENT'].str.contains("Q")]
df = df[~df['BUILDING CLASS AT PRESENT'].str.contains("R")]
df = df[~df['BUILDING CLASS AT PRESENT'].str.contains("T")]
df = df[~df['BUILDING CLASS AT PRESENT'].str.contains("U")]
df = df[~df['BUILDING CLASS AT PRESENT'].str.contains("V")]
df = df[~df['BUILDING CLASS AT PRESENT'].str.contains("W")]
df = df[~df['BUILDING CLASS AT PRESENT'].str.contains("Y")]
df = df[~df['BUILDING CLASS AT PRESENT'].str.contains("Z")]

In [13]:
df = df[df['BOROUGH'] == 1]

In [14]:
df.describe()

,BOROUGH,ZIP CODE,TOTAL UNITS,LAND SQUARE FEET,YEAR BUILT,SALE PRICE,AVG PRICE PER UNIT
count,748.0,748.000000,748.000000,748.000000,748.000000,7.480000e+02,7.480000e+02
mean,1.0,10031.299465,25.100267,5210.787433,1913.775401,1.022491e+07,1.674667e+06
std,0.0,41.817493,73.709254,15197.371169,20.599264,2.799013e+07,3.489273e+06
min,1.0,10001.000000,1.000000,384.000000,1800.000000,1.000000e+00,1.785714e-02
25%,1.0,10016.000000,3.000000,1702.250000,1900.000000,2.347994e+06,2.750000e+05
50%,1.0,10027.000000,9.000000,2148.000000,1910.000000,5.830734e+06,5.666667e+05
75%,1.0,10031.000000,20.000000,3750.000000,1920.000000,1.050000e+07,1.381250e+06
max,1.0,10463.000000,902.000000,189025.000000,2016.000000,6.200000e+08,4.100000e+07

In [100]:
Then I got a summary of the data in order to check whether I have missed something. 
For example, it turned out that the minimal price in the datasheet was 0. I also

SyntaxError: invalid syntax (<ipython-input-100-2e8a82926ae4>, line 1)

In [ ]:
'''I then proceeded to eliminate the entries which significantly stood out from the rest
of the dataset.

Actually - maybe should count how many below 100, below 500, below 1000 etc?
And what percentage of all do they constitue?
'''

In [17]:
df.loc[df['SALE PRICE'] < 1000]

,BOROUGH,NEIGHBORHOOD,BUILDING CLASS CATEGORY,BUILDING CLASS AT PRESENT,ADDRESS,ZIP CODE,TOTAL UNITS,LAND SQUARE FEET,YEAR BUILT,SALE PRICE,AVG PRICE PER UNIT
142,1,CHELSEA,01 ONE FAMILY DWELLINGS,A4,231 WEST 22ND STREET,10011,1,1588,1900,10,10.000000
143,1,CHELSEA,01 ONE FAMILY DWELLINGS,A4,231 WEST 22ND STREET,10011,1,1588,1900,10,10.000000
144,1,CHELSEA,01 ONE FAMILY DWELLINGS,A4,231 WEST 22ND STREET,10011,1,1588,1900,10,10.000000
528,1,CHELSEA,14 RENTALS - 4-10 UNIT,S3,256 10TH AVENUE,10001,4,1146,1910,10,2.500000
690,1,CHINATOWN,14 RENTALS - 4-10 UNIT,S5,79 BAXTER STREET,10013,7,2500,1890,10,1.428571
1041,1,CLINTON,07 RENTALS - WALKUP APARTMENTS,C4,403 WEST 44TH STREET,10036,8,2008,1920,10,1.250000
1051,1,CLINTON,07 RENTALS - WALKUP APARTMENTS,C7,723 ELEVENTH AVENUE,10019,12,2508,1901,10,0.833333
1052,1,CLINTON,07 RENTALS - WALKUP APARTMENTS,C7,725 ELEVENTH AVENUE,10019,13,2508,1901,10,0.769231
1329,1,EAST VILLAGE,07 RENTALS - WALKUP APARTMENTS,C1,70 EAST 7TH STREET,10003,24,2271,1910,10,0.416667
2336,1,GRAMERCY,07 RENTALS - WALKUP APARTMENTS,C7,115 LEXINGTON,10016,12,1488,2000,10,0.833333
2337,1,GRAMERCY,07 RENTALS - WALKUP APARTMENTS,C7,241 EAST 14TH STREET,10003,10,2633,1910,10,1.000000
2510,1,GREENWICH VILLAGE-CENTRAL,07 RENTALS - WALKUP APARTMENTS,C4,208 SULLIVAN STREET,10012,22,2500,1900,10,0.454545
2780,1,GREENWICH VILLAGE-WEST,07 RENTALS - WALKUP APARTMENTS,C4,255 WEST 12TH STREET,10014,10,1750,1900,10,1.000000
2792,1,GREENWICH VILLAGE-WEST,07 RENTALS - WALKUP APARTMENTS,C1,714 GREENWICH STREET,10014,10,1525,1910,10,1.000000
3828,1,HARLEM-EAST,03 THREE FAMILY DWELLINGS,C0,60 EAST 118TH STREET,10035,3,1926,2002,10,3.333333
3840,1,HARLEM-EAST,07 RENTALS - WALKUP APARTMENTS,C7,12 EAST 116 STREET,10029,11,2523,1920,373,33.909091
3883,1,HARLEM-EAST,07 RENTALS - WALKUP APARTMENTS,C7,152 EAST 116 STREET,10029,10,2523,1910,1,0.100000
3903,1,HARLEM-EAST,07 RENTALS - WALKUP APARTMENTS,C4,212 EAST 117 STREET,10035,14,4037,1910,1,0.071429
3931,1,HARLEM-EAST,07 RENTALS - WALKUP APARTMENTS,C1,337 EAST 115 STREET,10029,10,5046,1900,10,1.000000
4130,1,HARLEM-UPPER,01 ONE FAMILY DWELLINGS,A9,404 WEST 146,10031,1,1998,1901,10,10.000000
4145,1,HARLEM-UPPER,02 TWO FAMILY DWELLINGS,B3,626 WEST 138TH ST,10031,2,1399,1945,10,5.000000
4184,1,HARLEM-UPPER,08 RENTALS - ELEVATOR APARTMENTS,D1,795 ST NICHOLAS AVENUE,10031,56,6700,1920,1,0.017857
4266,1,INWOOD,08 RENTALS - ELEVATOR APARTMENTS,D9,4857 BROADWAY,10034,29,7500,2013,1,0.034483
4789,1,MANHATTAN VALLEY,07 RENTALS - WALKUP APARTMENTS,C1,12-22 WEST 109TH STREET,10025,181,23251,1890,10,0.055249
4790,1,MANHATTAN VALLEY,07 RENTALS - WALKUP APARTMENTS,C1,12-22 WEST 109TH STREET,10025,181,23251,1890,10,0.055249
5804,1,MIDTOWN WEST,07 RENTALS - WALKUP APARTMENTS,C7,746 NINTH AVENUE,10019,18,2500,1920,10,0.555556
5806,1,MIDTOWN WEST,07 RENTALS - WALKUP APARTMENTS,C7,752 NINTH AVENUE,10019,16,2510,1920,10,0.625000
9083,1,UPPER EAST SIDE (79-96),23 LOFT BUILDINGS,L8,316 EAST 91ST STREET,10128,1,5035,1931,1,1.000000
9178,1,UPPER WEST SIDE (59-79),07 RENTALS - WALKUP APARTMENTS,C1,223 WEST 78TH STREET,10024,8,2043,1910,10,1.250000
9973,1,UPPER WEST SIDE (79-96),07 RENTALS - WALKUP APARTMENTS,C1,129 WEST 88TH STREET,10024,8,1711,1910,10,1.250000
10388,1,UPPER WEST SIDE (96-116),08 RENTALS - ELEVATOR APARTMENTS,D1,133-135 WEST 104TH STREET,10025,28,5046,1950,10,0.357143

In [ ]:
'''
estimate the average rent (~0.4%) 
and make a separate cell. 
eliminate boroughs different from manhattan?
Start training :)

'''